.container {
    background-color: #fff;
    border-radius: 8px;
    padding: 24px;
    width: 408px;
    height: 136px;
    display: flex;
    align-items: flex-start;
    flex-direction: column; 
    gap: 16px;
}

.title {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    letter-spacing: 0.04em;
}

.text-input {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.04em;
    padding: 8px 140px 8px 16px;
}