.div-control {
    display: flex;  
    gap: 16px;
    border-radius: 8px;
    padding: 32px;
    width: 486px;
    background: #f6f6fe;
    margin:auto;
    margin-bottom: 16px;
}

.input-num {
    border: 1px solid #808080;
    border-radius: 8px;
    padding: 8px 72px;
    min-width: 150px;
    height: 40px;
}

.btn-create {
    border-radius: 8px;
    padding: 8px 16px;
    max-width: 120px;
    height: 40px;
    background-color: #4e75ff;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    display: flex;
    align-items: center;
}

.btn-destroy {
    border-radius: 8px;
    padding: 8px 16px;
    max-width: 120px;
    height: 40px;
    background-color: #ff4e4e;;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    display: flex;
    align-items: center;
}

.div-boxes {
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
    border-radius: 8px;
    padding: 32px;
    /* max-width: 486px; */
    background-color: #f6f6fe;
}

